@charset "utf-8";
html
{
	padding: 0;
	margin: 0;
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
}
div.header
{
	width: 100%;
	height: 50px;
	background-color: #3857a7;
	margin: 0;
}

div.header h1
{
	max-width: 180px;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 5px;    
}

div.incidentenview
{
	width: 70%;
	height: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	opacity: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 100px;
}

div.inhoudwrapper
{
	width: 70%;
	overflow: hidden;
}

div.mapview
{
	height: 300px;
	width: 500px;
	background-color: #3857a7;
	float: left;
}

div.inhoudincident
{
	display: inline-block;
	background-color: blue;
	overflow: hidden;
	margin-left: 20px;
}

img#bg
{
	min-height: 100%;
  	min-width: 1024px;
	z-index: -1;
  	/*Set up proportionate scaling */
  	width: 100%;
  	height: auto;
	/*Set up positioning */
  	position: fixed;
  	top: 0;
  	left: 0;
}